<h1 class= "text-center"><%= @article.title.capitalize %></h1>
<div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="well well-long">
            <p><%= @article.text.capitalize %></p>
        </div>
    </div>
</div>
